aside {
    width: 22%;
    float: right;
}
/*---------------------------------
Colors and backgrounds
----------------------------------*/
.header {
  background-image: url(../img/people.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

aside {
      background-image: url(../img/Business-HD-Pictures-768x381.jpg);
    background-repeat: no-repeat;
    background-size: cover
}
.header {
    color: white;
}
p,ul,dl{
    color: blue
}
h2,h3,h4{
    color: #a304fb
}
/*----------------------------------
positions and float
-----------------------------------*/
article,.img {
    float:right
}
main {
    float: left;
}
#img{
 position: absolute;
    top: 20vw;
    right:2.7vw
}

/*---------------------------------
padding and margin
----------------------------------*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header {
    padding: 10vw;
}
.img{
    padding-top: 5%;
    padding-left:2.7vw
}
h2,h3,h4{
    padding-left: 5%;
    padding-top: 5%
}
p,dl,ul {
    margin: 5%;
}
/*---------------------------------
width and hights
------------------------------------*/
img{
    width: 90%;
}
#profile{
    width: 16vw;
}
.img{
    width: 30%;
}
article{
    width: 70%; 
}
main {
    width: 78%;
}
#what{
    width: 75%;
}
.header {
    height:30vw
}
/*-----------------------------------
fonts and texts
------------------------------------*/
body {
    font-family: Arial, sans-serif;
    font-size: 20px
}
footer,aside p {
    font-size: 0.8em;
    line-height: 1.4em;
}
p {
    line-height: 1.3em;
}
.header {
    text-align: center;
    font-size: 2.2vw;
}
/*-----------------------------------
decorations and styles
------------------------------------*/
img{
border-radius: 10%;
    border: 4px solid #fff
}
.big:after {
  content: "";
  display: table;
  clear: both;    
}
@media (max-width: 600px) {
 main, aside {
    width: 100%;
  }
}
/*-----------------------------------
links
----------------------------------------*/
a.grading{
    color: crimson;
    float:right;
    text-decoration: none
}
a{
    text-decoration: none;
    color:deeppink
}
a:hover{
    color: red
}